.loginNav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

.loginNav .inner .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.loginNav .inner .cont button {
  background: none;
  border: none;
  outline: none;
  font-size: 1.125rem;
}

.loginNav .inner .cont button:hover {
  opacity: 0.8;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.loginNav .inner .cont h3 {
  font-weight: 600;
  font-size: 1.125rem;
  color: #000000;
  margin-left: 2%;
}

.loginNav .inner .loggedin {
  position: relative;
}

.loginNav .inner .loggedin hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

.loginNav .inner .loggedin .profileCom {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10%;
  border: 1px solid #CCCCCC;
}

.loginNav .inner .loggedin .profileCom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loginNav .inner .loggedin .loginMenu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  border-radius: 20px;
  padding: 20%;
  width: 200px;
  -webkit-box-shadow: 0px 119.178px 372.642px rgba(0, 0, 0, 0.09), 0px 35.9288px 112.341px rgba(0, 0, 0, 0.058643), 0px 14.923px 46.6606px rgba(0, 0, 0, 0.045), 0px 5.39735px 16.8762px rgba(0, 0, 0, 0.031357);
          box-shadow: 0px 119.178px 372.642px rgba(0, 0, 0, 0.09), 0px 35.9288px 112.341px rgba(0, 0, 0, 0.058643), 0px 14.923px 46.6606px rgba(0, 0, 0, 0.045), 0px 5.39735px 16.8762px rgba(0, 0, 0, 0.031357);
  -webkit-transform: translate(-110%);
          transform: translate(-110%);
  margin-top: 0%;
  z-index: 9999999;
}

.loginNav .inner .loggedin .loginMenu h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
}

.loginNav .inner .loggedin .loginMenu ul {
  margin-top: 0%;
}

.loginNav .inner .loggedin .loginMenu ul li {
  margin-top: 5%;
  list-style: none;
  cursor: pointer;
}

.loginNav .inner .loggedin .loginMenu ul li a {
  display: block;
  font-weight: 300;
  width: 100%;
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}

.loginNav .inner .loggedin .loginMenu ul li a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .loginNav .inner .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .loginNav .inner .cont button {
    background: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 5%;
  }
  .loginNav .inner .cont h3 {
    font-size: 1rem;
    margin-left: 2%;
  }
  .loginNav .inner .loggedin {
    position: relative;
  }
  .loginNav .inner .loggedin hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .loginNav .inner .loggedin .profile-com {
    height: 40px;
    width: 40px;
  }
  .loginNav .inner .loggedin .login-menu {
    padding: 40%;
    z-index: 99;
    -webkit-transform: translate(-105%);
            transform: translate(-105%);
  }
  .loginNav .inner .loggedin .login-menu h3 {
    font-size: 1rem;
  }
  .loginNav .inner .loggedin .login-menu ul {
    margin-top: 0%;
  }
  .loginNav .inner .loggedin .login-menu ul li {
    margin-top: 7%;
  }
  .loginNav .inner .loggedin .login-menu ul li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .loginNav .inner .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .loginNav .inner .cont button {
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  .loginNav .inner .cont h3 {
    font-size: 1rem;
    margin-left: 5%;
  }
  .loginNav .inner .loggedin .login-menu {
    padding: 40%;
    z-index: 99;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
/*# sourceMappingURL=styles.module.css.map */