.loginNav {
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;

        .cont {
            display: flex;
            align-items: center;
            width: 20%;

            button{
                background: none;
                border: none;
                outline: none;
                font-size: 1.125rem;
                //padding: 5%;
                &:hover {
                    opacity: 0.8;
                    transition:  all .3s ease-in;
                }
            }

            h3 {
                font-weight: 600;
                font-size: 1.125rem;
                color: #000000;
                margin-left: 2%;
            }
        }

        .loggedin {
            position: relative;
            hr {
                margin-top: 2%;
                margin-bottom: 2%;
            }
    
            .profileCom {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                padding: 10%;
                border: 1px solid #CCCCCC;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .loginMenu {
                position: absolute;
                background: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(35px);
                border-radius: 20px;
                padding: 20%;
                width: 200px;
                box-shadow: 0px 119.178px 372.642px rgba(0, 0, 0, 0.09), 0px 35.9288px 112.341px rgba(0, 0, 0, 0.058643), 0px 14.923px 46.6606px rgba(0, 0, 0, 0.045), 0px 5.39735px 16.8762px rgba(0, 0, 0, 0.031357);
                transform: translate(-110%);
                margin-top: 0%;
                z-index: 9999999;
                
    
                h3 {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                    font-size: 1.125rem;
                    text-align: center;
                }
    
                ul {
                    margin-top: 0%;
                    li {
                        margin-top: 5%;
                        list-style: none;
                        cursor: pointer;
                        
                       
                        a {
                            display: block;
                            font-weight: 300;
                            width: 100%;
                            text-decoration: none;
                            color: #000000;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125rem;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }

        
    }
}

@media screen and (max-width:1024px) {
    .loginNav {
        .inner {
    
            .cont {
                display: flex;
                align-items: center;
                width: 50%;
    
                button{
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 1.2rem;
                    padding: 5%;
                }
    
                h3 {
                    font-size: 1rem;
                    margin-left: 2%;
                }
            }

            .loggedin {
                position: relative;
                hr {
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
        
                .profile-com {
                    height: 40px;
                    width: 40px;
                }
        
                .login-menu {
                    padding: 40%;
                    z-index: 99;
                    transform: translate(-105%);
        
                    h3 {
                        font-size: 1rem;
                    }
        
                    ul {
                        margin-top: 0%;
                        li {
                            margin-top: 7%;
                            a {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

@media screen and (max-width:768px) {
    .loginNav {
        .inner {
    
            .cont {
                display: flex;
                align-items: center;
                width: 50%;
    
                button{
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 1rem;
                }
    
                h3 {
                    font-size: 1rem;
                    margin-left: 5%;
                }
            }

            .loggedin {
        
                .login-menu {
                    padding: 40%;
                    z-index: 99;
                    transform: translate(-100%);
                }
            }
            
        }
    }
}


//dashboard header starts here
.dasboardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding-top: 5%;
    padding-bottom: 5%;

    h3 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        color: #000000;
    }

    .searchPic {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;

        form {
            background: #FBF7F7;
            border-radius: 15px;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3%;
            input {
                width: 80%;
                font-size: 1.125rem;
                background: none;
                padding: 0;
                border: none;
                outline: none;
                font-family: 'Open Sans', sans-serif;
                color: #B5B5B5;
                &::placeholder {
                    color: #B5B5B5;
                    font-size: 1.125rem;
                }
            }

            button {
                width: 20%;
                border: none;
                background: none;
                outline: none;
                color: #B5B5B5;
                font-size: 1.125rem;
                cursor: pointer;
            }
        }

        .profile {
            text-decoration: none;
            display: block;

            div {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                padding: 10%;
                border: 1px solid #CCCCCC;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


@media screen and (max-width:1024px) {
    .dasboardHeader {
        h3 {
            font-size: 1rem;
        }
    
        .searchPic {
            width: 50%;
            form {
                input {
                    font-size: 1rem;
                    &::placeholder {
                        font-size: 1.125rem;
                    }
                }
    
                button {
                    font-size: 1rem;
                }
            }
    
            .profile {
    
                div {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    } 
}

@media screen and (max-width:768px) {
    .dasboardHeader {
        width: 100%;
        margin-top: 5%;
        flex-direction: column;
        align-items: flex-start;
        .searchPic {
            width: 100%;
            margin-right: 0;
            margin-top: 5%;
            form {
                padding: 2%;
                width: 80%;
            }

        }
    } 
}

@media screen and (max-width:540px) {
    .dasboardHeader {
        .searchPic {
            form {
                padding: 2%;
                width: 80%;

                input {
                    padding: 3%;
                }
            }

        }
    } 
}


//appoint header starts here 
.appoint {
    display: flex;
    justify-content: space-between;

    .content {
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1.125rem;
            color: #3423A6;
            line-height: 1;
        }

        p {
            width: 100%;
            line-height: 1;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            color: #636363;
            margin-top: 5%;
        }
    }

    .toggle {
        button {
            background: none;
            border: none;
            outline: none;
            font-size: 1.2rem;
            color: #B5B5B5;
        }
    }
}

@media screen and (max-width:1024px) {
    .appoint {
    
        .content {
            h3 {
                font-size: 0.8rem;
            }
    
            p {
                font-size: 0.7rem;
                line-height: 2;
            }
        }
    
        .toggle {
            button {
                font-size: 1rem;
            }
        }
    }
}