@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  z-index: 2;
  padding: 3%;
  width: 100%;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo img {
  margin-right: 3%;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .loggedin {
  position: relative;
}

nav .loggedin hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

nav .loggedin .profile-com {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10%;
  border: 1px solid #CCCCCC;
}

nav .loggedin .profile-com img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .loggedin .login-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  border-radius: 20px;
  padding: 20%;
  width: 200px;
  -webkit-box-shadow: 0px 119.178px 372.642px rgba(0, 0, 0, 0.09), 0px 35.9288px 112.341px rgba(0, 0, 0, 0.058643), 0px 14.923px 46.6606px rgba(0, 0, 0, 0.045), 0px 5.39735px 16.8762px rgba(0, 0, 0, 0.031357);
          box-shadow: 0px 119.178px 372.642px rgba(0, 0, 0, 0.09), 0px 35.9288px 112.341px rgba(0, 0, 0, 0.058643), 0px 14.923px 46.6606px rgba(0, 0, 0, 0.045), 0px 5.39735px 16.8762px rgba(0, 0, 0, 0.031357);
  -webkit-transform: translate(-110%);
          transform: translate(-110%);
  margin-top: 0%;
}

nav .loggedin .login-menu h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
}

nav .loggedin .login-menu ul {
  margin-top: 0%;
}

nav .loggedin .login-menu ul li {
  margin-top: 5%;
  list-style: none;
  cursor: pointer;
}

nav .loggedin .login-menu ul li a {
  display: block;
  font-weight: 300;
  width: 100%;
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}

nav .loggedin .login-menu ul li a:hover {
  opacity: 0.7;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

nav .nav-links a:hover {
  opacity: 0.9;
}

nav .nav-links a:focus {
  opacity: 0.7;
}

nav .nav-links a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  top: 25px;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  margin: auto;
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 0;
  background-color: #000;
}

nav .nav-links a:hover::after {
  width: 100%;
  opacity: 1;
}

nav .activate {
  color: #000 !important;
  font-weight: bold !important;
}

nav .burger {
  display: none;
  cursor: pointer;
  z-index: 99;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

nav .burger .line0 {
  width: 30px;
  height: 3px;
  background: #213654;
  margin: 5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .burger .line1 {
  width: 25px;
  height: 3px;
  background: #213654;
  margin: 5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .burger .line2 {
  width: 20px;
  height: 3px;
  background: #213654;
  margin: 5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .bro {
  display: none;
  cursor: pointer;
  z-index: 99;
}

nav .bro .line0 {
  width: 30px;
  height: 3px;
  margin: 5px;
  border-radius: 8px;
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background: #213654;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .bro .line1 {
  width: 30px;
  height: 3px;
  background: #213654;
  margin: 5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

nav .bro .line2 {
  width: 30px;
  height: 3px;
  background: #213654;
  margin: 5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(42deg) translate(-5px, -7px);
          transform: rotate(42deg) translate(-5px, -7px);
  margin-top: 5px;
}

nav .login a {
  color: #223256;
  border-radius: 7px;
  padding: 10px 15px;
}

nav .login a:hover {
  background: #3423A6;
  color: #fff !important;
  opacity: 1 !important;
}

nav .login a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  top: 25px;
  width: 0%;
  height: 0px;
  border-radius: 10px;
  margin: auto;
  -webkit-transition: all .4s;
  transition: all .4s;
}

nav .request a {
  color: #fff;
  border-radius: 7px;
  padding: 10px 15px !important;
  background: #3423A6;
}

nav .request a:hover {
  border: 1px solid #3423A6;
  background: none;
  color: #3423A6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

nav .request a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  top: 25px;
  width: 0%;
  height: 0px;
  border-radius: 10px;
  margin: auto;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 1024px) {
  nav .loggedin {
    position: relative;
  }
  nav .loggedin hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  nav .loggedin .profile-com {
    height: 40px;
    width: 40px;
  }
  nav .loggedin .login-menu {
    padding: 40%;
    z-index: 99;
    -webkit-transform: translate(-105%);
            transform: translate(-105%);
  }
  nav .loggedin .login-menu h3 {
    font-size: 1rem;
  }
  nav .loggedin .login-menu ul {
    margin-top: 0%;
  }
  nav .loggedin .login-menu ul li {
    margin-top: 7%;
  }
  nav .loggedin .login-menu ul li a {
    font-size: 1rem;
  }
  nav .nav-links {
    width: 60%;
  }
  nav .nav-links a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  nav .nav-links {
    display: none;
  }
  nav .nav-links li {
    opacity: 0;
    margin-top: 0;
    font-size: 12px;
  }
  nav .burger, nav .bro {
    display: block;
  }
  nav .logo {
    z-index: 5;
  }
  nav .logo img {
    height: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 5.5px;
  }
  @-webkit-keyframes navlinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navlinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.nav-active {
  position: absolute;
  right: 0;
  left: 0;
  height: 100vh;
  top: 10vh;
  color: #3423A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 4;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.92%, rgba(253, 244, 235, 0.9)), color-stop(95.69%, rgba(250, 241, 254, 0.9)));
  background: linear-gradient(90deg, rgba(253, 244, 235, 0.9) 2.92%, rgba(250, 241, 254, 0.9) 95.69%);
}

.nav-active li {
  list-style: none;
}

.nav-active a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 0.8rem;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.nav-active a:hover {
  opacity: 0.9;
}

.nav-active a:focus {
  opacity: 0.7;
}

.nav-active a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  top: 25px;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  margin: auto;
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 0;
  background-color: #000;
}

.nav-active a:hover::after {
  width: 100%;
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */