.filter {
    background: #fff;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;

        .imgCon {
            height: 35px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            .filterInput {
                display: flex;
                align-items: center;
                height: 100%;
                width: 68%;

                input {
                    width: 100%;
                    border-radius: 15px;
                    background: #F1F1F1;
                    border: none;
                    outline: none;
                    padding: 2.5%;
                    font-size: 1.125rem;
                    &::placeholder {
                        font-size: 1.125rem;
                        color: #9F9F9F;
                        font-family: 'Open Sans', sans-serif; 
                    }

                    &:focus {
                        border: 1px solid #3423A6;
                        transition: all .5s ease-in;
                    } 
                }

                select {
                    border-radius: 15px;
                    background: #F1F1F1;
                    border: none;
                    outline: none;
                    height: 100%;
                    padding: 5%;
                    font-size: 1.125rem;
                    color: #9F9F9F;
                    option {
                        font-size: 1.125rem;
                        color: #9F9F9F;
                        font-family: 'Open Sans', sans-serif; 
                    }

                    &:focus {
                        border: 1px solid #3423A6;
                        transition: all .5s ease-in;
                    } 
                }
            }

            .filterSelect {
                display: flex;
                align-items: center;
                height: 100%;
                width: 30%;
                select {
                    width: 100%;
                    border-radius: 15px;
                    background: #F1F1F1;
                    border: none;
                    outline: none;
                    height: 100%;
                    padding: 5%;
                    font-size: 1.125rem;
                    color: #9F9F9F;
                    option {
                        font-size: 1.125rem;
                        color: #9F9F9F;
                        font-family: 'Open Sans', sans-serif; 
                    }

                    &:hover {
                        border: 1px solid #3423A6;
                        transition: all .5s ease-in;
                    } 
                }
            }
        }

        .profilepicCon {
            width: 50px;
            height: 50px;
            text-decoration: none;
            display: block;
            div {
                width: 100%;
                height: 100%;
                border: 1px solid #CCCCCC;
                padding: 5%;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}