@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.myContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .myContainer {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .myContainer {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .myContainer {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .myContainer {
    width: 1140px;
  }
}

.con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con .hide {
  display: none;
}

.con .content {
  width: 50%;
}

.con .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

.con .content h1 {
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.75rem;
}

.con .content .iconsCon {
  margin-top: 5%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con .content .iconsCon a {
  margin-top: 5%;
  color: #545454;
  font-size: 1.5rem;
  padding: 3%;
  border: 1.25px solid #B5B5B5;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.con .content .iconsCon a:hover {
  background: #545454;
  color: #fff;
}

.con .content form {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  border: 2px solid #B5B5B5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.con .content form:hover {
  border: 2px solid #3423A6;
}

.con .content form input {
  padding: 3%;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  color: #3423A6;
}

.con .content form input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #B5B5B5;
}

.con .content form input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #B5B5B5;
}

.con .content form input::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #B5B5B5;
}

.con .content form input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #B5B5B5;
}

.con .content form button {
  padding: 3%;
  width: 30%;
  color: #fff;
  background: #3423A6;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.con .imgCon {
  width: 50%;
  height: 500px;
}

.con .imgCon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .con .content {
    width: 50%;
  }
  .con .content p {
    font-size: 1rem;
  }
  .con .content h1 {
    margin-top: 5%;
    font-size: 2.5rem;
  }
  .con .content .iconsCon {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .con .content .iconsCon a {
    font-size: 1rem;
    padding: 2%;
  }
  .con .content form {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1%;
    border: 2px solid #B5B5B5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
  }
  .con .content form input {
    padding: 3%;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    background: none;
    border: none;
    outline: none;
    color: #3423A6;
  }
  .con .content form input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .con .content form input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .con .content form input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .con .content form input::placeholder {
    font-size: 0.8rem;
  }
  .con .content form button {
    padding: 3%;
    width: 30%;
    color: #fff;
    background: #3423A6;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 0.8rem;
  }
  .con .imgCon {
    width: 50%;
    height: 450px;
  }
  .con .imgCon img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .con .hide {
    display: block;
  }
  .con .show {
    display: none;
  }
  .con .content {
    width: 100%;
  }
  .con .content h1 {
    width: 100%;
    font-size: 2rem;
  }
  .con .content .iconsCon {
    margin-top: 5%;
    margin-left: 50%;
    margin-right: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
  }
  .con .content .iconsCon a {
    margin-top: 5%;
    color: #545454;
    border: 1.25px solid #B5B5B5;
    border-radius: 8px;
    height: 25px;
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .con .content .iconsCon a:hover {
    background: #545454;
    color: #fff;
  }
  .con .content form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2%;
    border: 2px solid #B5B5B5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
  }
  .con .content form input {
    padding: 3%;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    background: none;
    border: none;
    outline: none;
    color: #3423A6;
  }
  .con .content form button {
    padding: 3%;
    width: 30%;
    color: #fff;
    background: #3423A6;
    border-radius: 15px;
    border: none;
    outline: none;
  }
  .con .imgCon {
    width: 100%;
    height: 400px;
  }
  .con .imgCon img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=body.module.css.map */